<section class="hero">
    <div class="hero-images">
        <img class="hero-img hero-left" src="{{ url_for('static', filename='images/templates/late_night_coder.jpg') }}" alt="Caricature example">
        <img class="hero-img hero-center" src="{{ url_for('static', filename='images/templates/late_night_coder.jpg') }}" alt="Caricature example">
        <img class="hero-img hero-right" src="{{ url_for('static', filename='images/templates/late_night_coder.jpg') }}" alt="Caricature example">
    </div>
    <h2>Подаръци за всеки повод!</h2>
    <a class="cta" href="/catalog" data-spa="true">КАТАЛОГ</a>
</section>